<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sale forcasting</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <main class="main-container">
      <h2 class="main-header">Shampoo Sales forcasting</h2>
      <div class="line"></div>
      <div class="input-div">
        <h4 class="sub-header">Predict the Sales of Shampoo</h4>
        <form action="/predict_sales" method="post" class="input-form">
          <div class="inputs">
            <div class="from">
              <h5 class="input-label">From</h5>
              <select name="year-from" id="year-from">
                <option value="">Year</option>
                <option value="2002">2002</option>
                <option value="2003">2003</option>
                <option value="2004">2004</option>
                <option value="2005">2005</option>
                <option value="2006">2006</option>
                <option value="2007">2007</option>
              </select>
              <select name="month-from" id="month-from">
                <option value="">Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>
            <div class="to">
              <h5 class="input-label">To</h5>
              <select name="year-to" id="year-to">
                <option value="">Year</option>
                <option value="2002">2002</option>
                <option value="2003">2003</option>
                <option value="2004">2004</option>
                <option value="2005">2005</option>
                <option value="2006">2006</option>
                <option value="2007">2007</option>
              </select>
              <select name="month-to" id="month-to">
                <option value="">Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>
          </div>
          <div class="error-div" id="error-div">
            <div class="error-box" id="error-box"></div>
          </div>
          <button type="submit" id="submit">Predict</button>
        </form>
      </div>
      <div class="show-result">
        <div class="result-loader">
          <img src="../static/Spinner.gif" alt="" />
        </div>
        <a href="#" class="download-result">Clik Me Download Result </a>
      </div>
    </main>
    <script src="../static/script.js"></script>
  </body>
</html>
